<div class="me-info-inner">
    <div class="background-overlay">
        <div class="square mx-auto mb-3">
            <img class="profile" src={{ url_for("static", filename="static_images/profile_pic.jpg") }}>
        </div>
        <h5 class="text-center mb-3">What I say about me is...</h5>
        <p class="mx-4">I enjoy spending time doing what I love, even if it means going against what I was let to believe, often times
        we work for money, this is a constraint on the mind, work for what you love, and great things can be accomplished</p>
    </div>


</div>